.keyboard-row {

}

.keyboard-key:active {
  background-color: #333;
}

.done .wordle-box {
  background-color: #86888a;
  color: #fff;
}

.wordle-box {
  text-transform: uppercase;
  font-weight: bold;
}

.wordle-box.exists {
  background-color: #c9b458;
}

.wordle-box.correct {
  background-color: #538d4e;
}