:root {
    --border-radius: 4px;
    --color-success: #538d4e;
    --color-success-dark: #31672c;
    --color-warning: #c9b458;
    --color-gray-1: #ccc;
    --color-gray-2: #ddd;
    --color-gray-3: #868686;
    --font-monospace: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
    --font-default: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    --font-size-sm: 0.8rem;
    --box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    --max-width: 450px;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    font-family: var(--font-default);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.app {
    max-width: 420px;
    margin: 0 auto;
}

button {
    color: currentColor;
}

a {
    color: #195985;
}

code {
    font-family: var(--font-monospace);
}

.copy-box {
    border: 1px dashed var(--color-gray-1);
    text-align: left;
    padding: 0.5em 1em;
    border-radius: var(--border-radius);
}

.keyboard {
    @apply mb-3;
    width: 100%;
    flex-direction: column;
    display: flex;
    gap: 0.2em;
}

.keyboard-row {
    display: flex;
    gap: 0.2em;
    justify-content: center;
}

.keyboard-key {
    @apply bg-gray-200;
    flex-shrink: 1;
    flex-grow: 1;
    flex-basis: 0;
    min-width: 0;
    text-transform: uppercase;
    border-radius: var(--border-radius);
    border: none;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.15s;
    padding: 0.75em 0;
    text-align: center;
    height: 3em;
}

.keyboard-key:active {
    background-color: var(--color-gray-2);
}

.keyboard-key.exists {
    background-color: var(--color-warning);
    color: #fff;
}

.keyboard-key.correct {
    background-color: var(--color-success);
    color: #fff;
}

.keyboard-key.not-found {
    @apply bg-gray-500;
    color: #fff;
}

.done .wordle-box {
    background-color: var(--color-gray-3);
    color: #fff;
}

.wordle-box {
    text-transform: uppercase;
    font-weight: bold;
}

.wordle-box.exists {
    background-color: var(--color-warning);
}

.wordle-box.correct {
    background-color: var(--color-success);
}

.delete-icon {
    height: 1em;
    width: 1em;
    line-height: 0;
    vertical-align: middle;
}

.copy-box {
    font-size: var(--font-size-sm);
}

.copy-box h3 {
    margin: 0 0 0.5em;
}

.text-center {
    text-align: center;
}

.mb-md {
    margin-bottom: 2em;
}

.cursor-pointer {
    cursor: pointer;
}

.modal {
    padding: 1rem;
}

.modal-container {
    @apply shadow-2xl bg-white rounded overflow-hidden overflow-y-auto;
    max-width: calc(var(--max-width) - 2em);
}

.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    @apply bg-white/80;
}

.share-button {
    border-radius: var(--border-radius);
    color: #fff;
    background-color: var(--color-success);
    border: none;
    padding: 0.5em 1em;
    margin-bottom: 1rem;
    font-size: 1.25em;
}

.share-button:active {
    background-color: var(--color-success-dark);
}

svg {
    width: 1em;
    height: 1em;
    font-size: 1em;
    @apply inline-block;
}

.support {
    font-size: 0.75em;
}

.toolbar {

}

.wordle-box:nth-child(1) {
    animation-delay: 100ms;
}

.wordle-box:nth-child(2) {
    animation-delay: 200ms;
}

.wordle-box:nth-child(3) {
    animation-delay: 300ms;
}

.wordle-box:nth-child(4) {
    animation-delay: 400ms;
}

.wordle-box:nth-child(5) {
    animation-delay: 500ms;
}

.rc-notification-notice {
    @apply bg-gray-900 text-white text-center px-4;
}
